*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand{
    color: red!important;
}
.nav-link-active{
    color: red!important;
}
/* .nav-link{
    color: white!important;
} */
.nav-link:hover{
    color: red!important;
}
.navbar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 99999;
}
.header{
    background-image: url(../img/bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
   background: linear-gradient(45deg,rgba(255, 0, 0,.4),rgba(0, 0, 255,.5));
   color: antiquewhite;
   text-align: center;
}
.overlay h2 span{
    color: red;
}
/* .service{
    width: 100%;
    height: 100vh;
}
.text1 h2{
    position: relative;
    border-bottom: 2px solid ;
    
}
.text1 h2::after{

    bottom: 0;
    content: '';
    
    background-color: brown;
    width: 100%;
    height: 0.1rem;
    /* position: absolute; */
    /* left: 0;

} */ */

.se{
    color: rgb(146, 161, 161);
    border-bottom: 2px solid red;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: rgb(97, 25, 59);
    opacity: 0;
}
.img1:hover .text{
    opacity: 1;
    transition: (0.6,0.6);
}

.img1{
    width: 100%;
    height: 80vh;
}

.img1{
    width: 90%;
    position: relative;
    overflow: hidden;
}
.img1::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 100%;
    left: 0;
    background: rgb(150, 26, 109);
    opacity: .4;
    transition: .8s;

}
.img1:hover.img1::after {
    
top: 0;

}


.hpage{
    background-image: url(../img/eg6.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
width: 100%;
height: 60vh;
}
.overlay1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
   
   text-align: center;
}
.masig1{
    color: darkgray;
    text-align: center;
}




















.service{
    width: 100%;
    height: 100vh;
}
.text1 h2{
    position: relative;
    border-bottom: 2px solid ;
    
}
.text1 h2::after{

    bottom: 0;
    content: '';
    
    background-color: brown;
    width: 100%;
    height: 0.1rem;
    /* position: absolute; */
    left: 0;

}

.col-md-4{
    position: relative;
    overflow: hidden;
    

}
.text{
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    transition: left 1s;
    width: 100%;
    height: 100vh;
}
.col-md-4:hover .text{
    left: 0;
}

.container7{
    padding: 30px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.form{
    width: 50%;
    margin: 0 auto;
}
input,textarea,select{
    width: 100%;
    background-color: transparent;
    border-radius: 4px;
    outline: none;
    box-shadow: 10px 0px 10px black;
    box-shadow: 5px 0px 10px rgb(92, 91, 91) inset;

    padding: 5px 15px;
    margin: 20px;
}
.btn{
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgb(129, 125, 125);
    color: rgb(238, 241, 245);
    position: relative;
    overflow: hidden;
}
.btn::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgb(20, 18, 19);
    top: 0;
    left: 100%;
    z-index: -1;
    transition: .6s;
}
.btn:hover.btn::after{
    left: 0;
}

.end1{
    padding: 15px;
    width: 100%;
    height: 22vh;
    background-color: black;

}
.larg{
    text-align: center;
display: flex;
justify-content: center;
    
    

}
.endicon{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: black;
    width: 40%;
    height: 15vh;
}
.endicon i{
    color: aliceblue;
}
.endicon i:hover{
    color: crimson;
}

.endlink{
    display: flex;
    justify-content: center;
}
.endlink h6{
    display: flex;
    align-items: flex-end;
    color: aliceblue;
    font-size: 1rem;
}
.endlink h6 span{
    color: crimson;
}








.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: rgb(97, 25, 59);
    opacity: 0;
}
.img1:hover .text{
    opacity: 1;
    transition: (0.6,0.6);
}